@import '../../utils/variables';

.board-column__input-title {
  display: flex;
}

.board-column__title {
  justify-content: space-between;
  align-items: center;
  @include middle-text();
  color: #fff;
}

.ant-card-head {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $color-violet;
}

.options-btn {
  cursor: pointer;
}

.icon-task-title {
  margin-right: .5rem;
}

.description {
  display: flex;
  margin-bottom: .5rem;

  .icon-description {
    margin: .2rem .5rem 0 0;
  }
}

.board-column {
  width: 22.5rem;
  border-radius: $border-radius;
}

.column-body {
  max-height: 57vh;
  min-height: 1vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1bb;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(186, 203, 248, 0.555);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 213, 252, 0.555);
}

.add-task-btn {
  width: 19rem;
  height: 2.5rem;
  border-radius: $border-radius;
  background-color: $color-violet;
  text-align: left;
  color: #fff;
}

.add-task-btn:hover {
  border-color: $color-violet;
  color: $text-color;
}

@media screen and (max-width: 600px) {
  .column-body {
    max-height: 47vh;
  }  
}
