.boardHeader {
    margin: 1rem;
    display: flex;
}

.boardBody {
    display: flex;
    margin-top: 3rem;
    overflow-x: auto;
}

.board-title {
    z-index: 2;
    position: fixed;
    top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 92.6vw;
}