.boardHeader {
    margin: 1rem;
    display: flex;
}

.boardBody {
    display: flex;
    padding-top: .6rem;
    height: 92%;
    overflow-x: auto;
}

.board-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.board__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 700;
}