@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import '../../utils/variables';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: $color-violet;
  @include header-text();
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2rem;
}

.header-icon{
  font-size: 1.5rem;
  color: #fff;
}

.header-btn {
  height: auto;
  padding: 0;
  margin: 1rem;
}

.bgMenuContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bgMenuItem {
  width: 45%;
  height: 90px;
  background: transparent;
  display: flex;
  align-items: flex-end;
  border-radius: $border-radius;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.bgItem {
  width: 45%;
  height: 90px;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.icon-lang {
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;
}