.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3rem;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2rem;
}

.ant-layout-header:active .ant-menu:active {
  background-color: #000;
}