@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import './utils/variables';

html {
  height: 100%;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: $text-color;
}

button::selection {
  background: $color-orange;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  min-width: 2rem;
  max-width: 100%;
  font-weight: 700;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  opacity: .7;
}

.footer-item {
  margin: 0 .5rem 0 0;
  @include middle-text();
}

.ant-layout-footer {
  padding: 0;
}

.site-layout-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.ant-layout {
  background-color: transparent;
  min-height: 100%;
}

.input {
  height: 2rem;
  border-radius: $border-radius;
  border: 2px solid $text-color;
}

.check-btn {
  color: greenyellow;
}
