.boards-container {
  display: flex;
  flex-wrap: wrap;
}

.ant-card-body {
  padding: 5px;
}

.board, .create-board-btn {
  width: 155px;
  height: 80px;
  margin: 0 1rem 1rem 0;
  line-height: 1.8rem;

  .icon {
    margin-right: 5px;
  }
}

.board {
  padding: 0 5px;
}

.dashboard-wrapper {
  width: 100%;
}

.create-board-btn {
  padding: 20px 10px;
  background-color: rgb(230, 238, 248);
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}